__pycache__/
media/videos/capacitor/1080p60/partial_movie_files/
media/videos/drift_velocity/1080p60/partial_movie_files/
media/videos/basic/1080p60/partial_movie_files/
media/videos/brownian/1080p60/partial_movie_files/
media/videos/potential/1080p60/partial_movie_files/
media/videos/potential_at_point_due_to_a_charge/1080p60/partial_movie_files/
media/videos/electricCurrent/1080p60/partial_movie_files/

media/videos/electrostatics/1080p60/partial_movie_files/